<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STEP1</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" text="type/css" href="{{ url_for('static', filename='app.css') }}" >
</head>
<body>
    <div class="page-wrapper">
        <div>
            <div class="page-title">First Solar Thermal Energy Planner (STEP1)</div>
        </div>

        <div class="progress-bar">
            <div class="progress-tab">
              <i class="fa fa-check-square-o icon" style="margin-top: auto; margin-bottom: auto; margin-left: 1rem"></i>
              <div style="margin: auto">
                Geographical Inputs
              </div>
            </div>
            <div class="progress-tab">
              <i class="fa fa-check-square-o icon" style="margin-top: auto; margin-bottom: auto; margin-left: 1rem"></i>
              <div style="margin: auto">
                Process Inputs
              </div>
            </div>
            <div class="progress-tab" style="background-color: #e07700">
              <div style="margin: auto">
                Constraint Inputs
              </div>
            </div>
            <div class="progress-tab">
              <div style="margin: auto">
                Results
              </div>
            </div>
          </div>
        
        <form action="{{ url_for('process') }}" method="post">
          <button type="submit" class="results-button" style="margin-left: 0; width: 5rem; height: 2rem;">
            <i class="fa fa-long-arrow-left arrow-icon"></i>
            <div class="button-text">
              Back
            </div>
          </button>
        </form>

        <div>
            <div class="section-title">Enter User-Defined Constraint Input Data</div>
        </div>

        <div class="input-panel" style="width: 100%">
            <div class="icon-wrapper">
              <i class="fa fa-user icon"></i>
            </div>
            <div class="panel-header">User-Defined Constraints</div>
        </div>

        <form action="{{ url_for('results')}}" method="post">
            <div class="panel-modal" style="height: 25rem">
                <div class="inner-modal">
                    <div class="input" style="margin-right: 2.5rem">
                        <div class="input-label">
                          Preferred technology
                        </div>
                        <div class="help-container">
                          <span class="help-popup" id="carbon-help">
                            Helpful info
                          </span>
                          <i class="fa fa-question-circle help-icon" id="help-icon-carbon"></i>
                        </div>
                        <div class="checklist-wrapper">
                          <div class="checklist">
                            <div style="display: flex">
                                <input type="checkbox" id="pv" name="pv" value="pv" checked="checked" class="checkbox">
                                <label>
                                    PV
                                </label>
                            </div>
                            <div style="display: flex">
                                <input type="checkbox" id="evacuated_tubes" name="evacuated_tubes" value="evacuated_tubes">
                                <label>
                                    Evacuated Tubes
                                </label>
                            </div>
                            <div style="display: flex">
                                <input type="checkbox" id="flat_plate" name="flat_plate" value="flat_plate">
                                <label>
                                    Flat Plate
                                </label>
                            </div>
                            <div style="display: flex">
                                <input type="checkbox" id="linear_flesnel" name="linear_flesnel" value="linear_flesnel">
                                <label>
                                    Linear Flesnel
                                </label>
                            </div>
                          </div>
                          <div class="checklist">
                            <div style="display: flex">
                                <input type="checkbox" id="parabolic_trough" name="parabolic_trough" value="parabolic_trough">
                                <label>
                                    Parabolic Trough
                                </label>
                            </div>
                            <div style="display: flex">
                                <input type="checkbox" id="MST" name="MST" value="MST">
                                <label>
                                    Molten Salt Trough
                                </label>
                            </div>
                            <div style="display: flex">
                                <input type="checkbox" id="particle_tower" name="particle_tower" value="particle_tower">
                                <label>
                                    Particle Tower
                                </label>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="input" style="margin-right: 20rem">
                        <label for="MIC" class="input-label">
                            Maximum Investment Cost
                        </label>
                        <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        <input class="modal-input" name="MIC" required="required" placeholder="Enter a dollar amount">
                    </div>
                    <div class="input" style="margin-right: 20rem">
                        <label for="MPP" class="input-label">
                            Maximum Payback Period
                        </label>
                        <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        <input class="modal-input" name="MPP" required="required" placeholder="Enter a time period">
                    </div>
                    <div class="input" style="margin-right: 20rem">
                        <div class="input-label">
                          Decarbonization Target
                        </div>
                        <div class="help-container">
                          <span class="help-popup" id="power-help">
                            Helpful info
                          </span>
                          <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        </div>
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange" style="margin-top: 3rem; margin-left: 2rem">
                        <div id="demo" class="decarbonize">
              
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="results-button">
                    <div class="button-text">
                        Get Results
                    </div>
                    <i class="fa fa-arrow-circle-right arrow-icon"></i>
                </button>
            </div>
        </form>
        <script src="{{ url_for('static', filename='constraints.js') }}"></script>
    </div>
</body>
</html>
