<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STEP1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" text="type/css" href="{{ url_for('static', filename='app.css') }}" >
</head>
<body>
  <div class="page-wrapper">
    <div>
      <div class="page-title">First Solar Thermal Energy Planner (STEP1)</div>
    </div>

    <div>
      <div class="section-title">Welcome to STEP1!</div>
    </div>

    <div class="workflow-modal">
      <div class="workflow-header">
        <div style="margin: auto">
          Here is what STEP1 is used for and why this tool is important:
        </div>
      </div>
      <div class="workflow-points">
        <i class="fa fa-circle" style="margin-top: auto; margin-bottom: auto; margin-right: 0.5rem; font-size: 8px"></i>
        Assisting industrial factories with decisions on what type of heat to use
      </div>
      <div class="workflow-points">
        <i class="fa fa-circle" style="margin-top: auto; margin-bottom: auto; margin-right: 0.5rem; font-size:8px"></i>
        Helping decarbonize the industry with Concentrated Solar Power
      </div>
      <div class="workflow-points">
        <i class="fa fa-circle" style="margin-top: auto; margin-bottom: auto; margin-right: 0.5rem; font-size: 8px"></i>
        Helping industrial factories save money in these decisions
      </div>
    </div>

    <div class="footer">
        <form action="{{ url_for('workflow')}}" method="post" style="display: flex; height: 100%;">
            <button type="submit" class="results-button">
                <div class="button-text">
                    Workflow
                </div>
                <i class="fa fa-long-arrow-right arrow-icon"></i>
            </button>
        </form>
    </div>
  </div>
</body>
</html>
