<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STEP1</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" text="type/css" href="{{ url_for('static', filename='app.css') }}" >
    <script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.18/web.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css" type="text/css">
</head>
<body>
    <div class="page-wrapper">
        <div>
            <div class="page-title">First Solar Thermal Energy Planner (STEP1)</div>
        </div>

        <div class="progress-bar">
            <div class="progress-tab" style="background-color: #e07700">
              <div style="margin: auto">
                Geographical Inputs
              </div>
            </div>
            <div class="progress-tab">
              <div style="margin: auto">
                Process Inputs
              </div>
            </div>
            <div class="progress-tab">
              <div style="margin: auto">
                Constraint Inputs
              </div>
            </div>
            <div class="progress-tab">
              <div style="margin: auto">
                Results
              </div>
            </div>
          </div>

        <form action="{{ url_for('workflow') }}" method="post">
          <button type="submit" class="results-button" style="margin-left: 0; width: 5rem; height: 2rem;">
            <i class="fa fa-long-arrow-left arrow-icon"></i>
            <div class="button-text">
              Back
            </div>
          </button>
        </form>

        <div>
            <div class="section-title">Enter Geographical Input Data</div>
        </div>

        <div class="input-panel" style="width: 100%">
            <div class="icon-wrapper">
              <i class="fa fa-map icon"></i>
            </div>
            <div class="panel-header">Geographical</div>
        </div>

        <form action="{{ url_for('process')}}" method="post">
            <div class="panel-modal" style="height: 50rem">

                <div class="input" style="margin-right: 20rem">
                    <label class="input-label">
                      Latitude
                    </label>
                    <i class="fa fa-question-circle help-icon" id="help-icon-location"></i>
                    <input class="modal-input" placeholder="Enter a latitude" required="required">
                </div>

                <div class="input" style="margin-right: 20rem">
                    <label class="input-label">
                      Longitude
                    </label>
                    <i class="fa fa-question-circle help-icon" id="help-icon-location"></i>
                    <input class="modal-input" placeholder="Enter a longitude" required="required">
                </div>

                <div class="input" style="margin-right: 10.25rem">
                    <label class="input-label">
                      Land Unit Price
                    </label>
                    <i class="fa fa-question-circle help-icon" id="help-icon-location"></i>
                    <input class="modal-input" placeholder="Enter a dollar amount" required="required">
                    <select class="dropdown">
                      <option value="acre">Dollars per acre</option>
                      <option value="hectare">Dollars per hectare</option>
                    </select>
                </div>

                <div class="input" style="margin-right: 11.4rem">
                    <label class="input-label">
                      Land Area
                    </label>
                    <div class="help-container">
                      <i class="fa fa-question-circle help-icon" id="help-icon-location"></i>
                    </div>
                    <input class="modal-input" placeholder="Enter an area" required="required">
                    <select class="dropdown">
                      <option value="acres">Acres</option>
                      <option value="hectares">Hectares</option>
                      <option value="meters">Meters squared</option>
                      <option value="feet">Feet squared</option>
                    </select>
                </div>

                <div style="background-color: lightgrey; width: 850px; border-radius: 5px; margin-top: 5rem; margin-left: auto; margin-right: auto; padding: 20px">
                    <div id='map' style='width: 800px; height: 300px;'>
                    </div>
                </div>
                
            </div>
            <div class="button-wrapper">
                <button type="submit" class="results-button">
                    <div class="button-text">
                        Process Inputs
                    </div>
                    <i class="fa fa-long-arrow-right arrow-icon"></i>
                </button>
            </div>
        </form>
        <script src="{{ url_for('static', filename='location.js') }}"></script>
        
    </div>
</body>
</html>
