<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STEP1</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" text="type/css" href="{{ url_for('static', filename='app.css') }}" >
    <script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.18/web.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css" type="text/css">
</head>
<body>
    <div class="page-wrapper">
        <div>
            <div class="page-title">First Solar Thermal Energy Planner (STEP1)</div>
        </div>

        <div class="progress-bar">
            <div class="progress-tab" style="background-color: #e07700">
              <div style="margin: auto">
                Geographical Inputs
              </div>
            </div>
            <div class="progress-tab">
              <div style="margin: auto">
                Process Inputs
              </div>
            </div>
            <div class="progress-tab">
              <div style="margin: auto">
                Constraint Inputs
              </div>
            </div>
            <div class="progress-tab">
              <div style="margin: auto">
                Results
              </div>
            </div>
          </div>

        <form action="{{ url_for('workflow') }}" method="post">
          <button type="submit" class="results-button" style="margin-left: 0; width: 5rem; height: 2rem;">
            <i class="fa fa-long-arrow-left arrow-icon"></i>
            <div class="button-text">
              Back
            </div>
          </button>
        </form>

        <div>
            <div class="section-title">Enter Geographical Input Data</div>
        </div>

        <div class="input-panel" style="width: 100%">
            <div class="icon-wrapper">
              <i class="fa fa-map icon"></i>
            </div>
            <div class="panel-header">Geographical</div>
        </div>

        <form action="{{ url_for('process')}}" method="post">
            <div class="panel-modal" style="height: 45rem">

                <div class="input" style="height: 5rem; display: flex">
                    <div style="width: 50%; height: 100%; display: flex">
                      <label class="input-label" style="margin-top: auto; margin-bottom: auto; margin-right: 1rem;">
                        Latitude
                      </label>
                    </div>
                    <div style="width: 50%; height: 100%; display: flex">
                      <input class="modal-input" name="latitude" placeholder="Enter a latitude" required="required" style="margin-top: auto; margin-bottom: auto; margin-left: 1rem; width: 10rem">
                    </div>
                </div>

                <div class="input" style="height: 5rem; display: flex">
                  <div style="width: 50%; height: 100%; display: flex">
                    <label class="input-label" style="margin-top: auto; margin-bottom: auto; margin-right: 1rem;">
                      Longitude
                    </label>
                  </div>
                  <div style="width: 50%; height: 100%; display: flex">
                    <input class="modal-input" name="longitude" placeholder="Enter a longitude" required="required" style="margin-top: auto; margin-bottom: auto; margin-left: 1rem; width: 10rem">
                  </div>
                </div>

                <div class="input" style="height: 5rem; display: flex">
                    <div style="width: 50%; height: 100%; display: flex">
                      <label class="input-label" style="margin-top: auto; margin-bottom: auto; margin-right: 1rem;">
                        Land Unit Price
                      </label>
                    </div>
                    <div style="width: 50%; height: 100%; display: flex">
                      <input class="modal-input" name="land_unit_price" placeholder="2000" style="margin-top: auto; margin-bottom: auto; margin-right: 1rem; margin-left: 1rem; width: 10rem">
                      <select class="dropdown" name="land_unit_price_units" style="margin-top: auto; margin-bottom: auto; margin-left: 1rem; margin-right: auto;">
                        <option value="$/acre">Dollars per acre</option>
                        <option value="$/hectare">Dollars per hectare</option>
                      </select>
                    </div>
                </div>

                <div class="input" style="height: 5rem; display: flex">
                  <div style="width: 50%; height: 100%; display: flex">
                    <label class="input-label" style="margin-top: auto; margin-bottom: auto; margin-right: 1rem;">
                      Land Area
                    </label>
                  </div>
                  <div style="width: 50%; height: 100%; display: flex">
                    <input class="modal-input" placeholder="Enter an area" name="land_area" required="required" style="margin-top: auto; margin-bottom: auto; margin-right: 1rem; margin-left: 1rem; width: 10rem">
                    <select class="dropdown" name="land_area_units" style="margin-top: auto; margin-bottom: auto; margin-left: 1rem">
                      <option value="acre">Acres</option>
                      <option value="hectare">Hectares</option>
                      <option value="meter">Meters squared</option>
                      <option value="feet">Feet squared</option>
                    </select>
                  </div>
                </div>

                <div style="background-color: lightgrey; width: 70%; height: 40%; margin-top: 2rem; border-radius: 5px; margin-left: auto; margin-right: auto; padding: 20px">
                    <div id='map' style='width: 100%; height: 100%;'>
                    </div>
                </div>
                
            </div>
            <div class="button-wrapper">
                <button type="submit" class="results-button">
                    <div class="button-text">
                        Process Inputs
                    </div>
                    <i class="fa fa-long-arrow-right arrow-icon"></i>
                </button>
            </div>
        </form>
        <script src="{{ url_for('static', filename='location.js') }}"></script>
        
    </div>
</body>
</html>
