<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STEP1</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" text="type/css" href="{{ url_for('static', filename='app.css') }}" >
</head>
<body>
    <div class="page-wrapper">
        <div>
            <div class="page-title">First Solar Thermal Energy Planner (STEP1)</div>
        </div>

        <div class="progress-bar">
            <div class="progress-tab">
                <i class="fa fa-check-square-o icon" style="margin-top: auto; margin-bottom: auto; margin-left: 1rem"></i>
                <div style="margin: auto">
                    Geographical Inputs
                </div>
            </div>
            <div class="progress-tab" style="background-color: #e07700">
                <i></i>
                <div style="margin: auto">
                    Process Inputs
                </div>
            </div>
            <div class="progress-tab">
                <div style="margin: auto">
                    Constraint Inputs
                </div>
            </div>
            <div class="progress-tab">
                <div style="margin: auto">
                    Results
                </div>
            </div>
        </div>

        <form action="{{ url_for('location') }}" method="post">
            <button type="submit" class="results-button" style="margin-left: 0; width: 5rem; height: 2rem;">
              <i class="fa fa-long-arrow-left arrow-icon"></i>
              <div class="button-text">
                Back
              </div>
            </button>
        </form>

        <div>
            <div class="section-title" >Enter Process Input Data</div>
        </div>

        <div class="input-panel" id="input-panel2" style="width: 100%">
            <div class="icon-wrapper">
              <i class="fa fa-bolt icon"></i>
            </div>
            <div class="panel-header" >Processes</div>
        </div>

        <form action="{{ url_for('constraints')}}" method="post">
            <div class="panel-modal" style="height: 35rem">
                <div class="inner-modal">
                    <div class="input" style="margin-right: 32.25rem">
                        <label for="process_type" class="input-label">
                            Process Type
                        </label>
                        <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        <select id="process_type" name="process_type" placeholder="process_type" required="required" class="dropdown">
                            <option value="Thermo">Thermodynamic</option>
                            <option value="Chemical">Chemical</option>
                            <option value="Mechanical">Mechanical</option>
                        </select>
                    </div>
                    <div class="input" style="margin-right: 16.75rem">
                        <label for="MPT" class="input-label">
                            Maximum Process Temperature
                        </label>
                        <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        <input class="modal-input" name="MPT" required="required" placeholder="Enter a Temperature">
                        <select id="MPT_units" name="MPT_units" placeholder="MPT_units" required="required" class="dropdown">
                            <option value="Farhenheit">Farhenheit</option>
                            <option value="Celsius">Celsius</option>
                            <option value="Kelvin">Kelvin</option>
                        </select>
                    </div>
                    <div class="input" style="margin-right: 11.5rem">
                        <label for="MMHT" class="input-label">
                            Maximum Material Handling Throughput (Flow rate)
                        </label>
                        <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        <input class="modal-input" name="MMHT" required="required" placeholder="Enter a Flow Rate">
                        <select id="MPT_units" name="MPT_units" placeholder="MMHT_units" required="required" class="dropdown">
                            <option value="m3/s">Meters cubed per second</option>
                            <option value="kg/s">Kilograms per second</option>
                            <option value="CFM">Cubic feet per minute</option>
                        </select>
                    </div>
                    <div class="input" style="margin-right: 23.5rem">
                        <label for="electric_bill" class="input-label">
                            Electric Bill
                        </label>
                        <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        <input class="modal-input" name="electric_bill" required="required" placeholder="Enter a Dollar amount">
                    </div>
                    <div class="input" style="margin-right: 23.5rem">
                        <label for="gas_bill" class="input-label">
                            Gas Bill
                        </label>
                        <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        <input class="modal-input" name="gas_bill" required="required" placeholder="Enter a Dollar amount">
                    </div>
                    <div class="input" style="margin-right: 33.9rem">
                        <label for="CFT" class="input-label">
                            Current Fuel Type
                        </label>
                        <i class="fa fa-question-circle help-icon" id="help-icon-power"></i>
                        <select id="CFT" name="CFT" placeholder="CFT" required="required" class="dropdown">
                            <option value="natural_gas">Natural Gas</option>
                            <option value="coal">Coal</option>
                            <option value="bio">Biofuel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="results-button">
                    <div class="button-text">
                        Constraint Inputs
                    </div>
                    <i class="fa fa-long-arrow-right arrow-icon"></i>
                </button>
            </div>
        </form>
    </div>
</body>
</html>
