<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STEP1</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" text="type/css" href="{{ url_for('static', filename='app.css') }}" >
</head>
<body>
    <div class="page-wrapper">
        <div>
            <div class="page-title">First Solar Thermal Energy Planner (STEP1)</div>
        </div>

        <div class="progress-bar">
            <div class="progress-tab">
                <i class="fa fa-check-square-o icon" style="margin-top: auto; margin-bottom: auto; margin-left: 1rem"></i>
                <div style="margin: auto">
                    Geographical Inputs
                </div>
            </div>
            <div class="progress-tab" style="background-color: #e07700">
                <i></i>
                <div style="margin: auto">
                    Process Inputs
                </div>
            </div>
            <div class="progress-tab">
                <div style="margin: auto">
                    Constraint Inputs
                </div>
            </div>
            <div class="progress-tab">
                <div style="margin: auto">
                    Results
                </div>
            </div>
        </div>

        <form action="{{ url_for('location') }}" method="post">
            <button type="submit" class="results-button" style="margin-left: 0; width: 5rem; height: 2rem;">
              <i class="fa fa-long-arrow-left arrow-icon"></i>
              <div class="button-text">
                Back
              </div>
            </button>
        </form>

        <div>
            <div class="section-title" >Enter Process Input Data</div>
        </div>

        <div class="input-panel" id="input-panel2" style="width: 100%">
            <div class="icon-wrapper">
              <i class="fa fa-bolt icon"></i>
            </div>
            <div class="panel-header" >Processes</div>
        </div>

        <form action="{{ url_for('constraints')}}" method="post">
            <div class="panel-modal" style="height: 40rem">
                <div class="inner-modal">
                    <div class="input" style="height: 5rem; display: flex">
                        <div style="width: 50%; height: 100%; display: flex">
                            <label for="process_type" class="input-label">
                                Process Media Type
                            </label>
                        </div>
                        <div style="width: 50%; height: 100%; display: flex">
                            <select id="process_type" name="process_type" placeholder="process_type" required="required" class="dropdown">
                                <option value="steam">Steam</option>
                                <option value="water">Water</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" style="height: 5rem; display: flex">
                        <div style="width: 50%; height: 100%; display: flex">
                            <label for="MPT" class="input-label">
                                Maximum Process Temperature
                            </label>
                        </div>
                        <div style="width: 50%; height: 100%; display: flex">
                            <input class="modal-input" name="maximum_process_temperature" required="required" placeholder="Enter a Temperature">
                            <select id="MPT_units" name="maximum_process_temperature_units" placeholder="MPT_units" required="required" class="dropdown">
                                <option value="F">Farhenheit</option>
                                <option value="C">Celsius</option>
                                <option value="K">Kelvin</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" style="height: 5rem; display: flex">
                        <div style="width: 50%; height: 100%; display: flex">
                            <label for="MMHT" class="input-label">
                                Maximum Material Handling Throughput (Flow rate)
                            </label>
                        </div>
                        <div style="width: 50%; height: 100%; display: flex">
                            <input class="modal-input" name="flow_rate" required="required" placeholder="Enter a Flow Rate">
                            <select id="MPT_units" name="flow_rate_units" placeholder="MMHT_units" required="required" class="dropdown">
                                <option value="m3/s">Meters cubed per second</option>
                                <option value="kg/s">Kilograms per second</option>
                                <option value="lb/hr">Pounds per hour</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" style="height: 5rem; display: flex">
                        <div style="width: 50%; height: 100%; display: flex">
                            <label for="electric_bill" class="input-label">
                                Electric Bill
                            </label>
                        </div>
                        <div style="width: 50%; height: 100%; display: flex">
                            <input class="modal-input" name="electric_bill" required="required" placeholder="Enter a Dollar amount">
                            <select name="electric_bill_units" required="required" class="dropdown">
                                <option value="month">Per month</option>
                                <option value="year">Per year</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" style="height: 5rem; display: flex">
                        <div style="width: 50%; height: 100%; display: flex">
                            <label for="gas_bill" class="input-label">
                                Gas Bill
                            </label>
                        </div>
                        <div style="width: 50%; height: 100%; display: flex">
                            <input class="modal-input" name="gas_bill" required="required" placeholder="Enter a Dollar amount">
                            <select name="gas_bill_units" required="required" class="dropdown">
                                <option value="month">Per month</option>
                                <option value="year">Per year</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" style="height: 5rem; display: flex">
                        <div style="width: 50%; height: 100%; display: flex">
                            <label for="CFT" class="input-label">
                                Current Fuel Type
                            </label>
                        </div>
                        <div style="width: 50%; height: 100%; display: flex">
                            <select id="CFT" name="current_fuel_type" placeholder="CFT" required="required" class="dropdown">
                                <option value="natural_gas">Natural Gas</option>
                                <option value="coal">Coal</option>
                                <option value="bio">Biofuel</option>
                            </select>
                        </div>
                    </div>
                    <div class="input" style="height: 5rem; display: flex" id="file-input-wrapper">
                        <div style="width: 50%; height: 100%; display: flex">
                            <label for="LPFI" class="input-label">
                                Load Profile File Input
                            </label>
                        </div>
                        <div style="width: 50%; height: 100%; display: flex">
                            <input type="button" name="LPB" value="Enable File Input" class="input-button" id="file-input-button" onclick="buttonClick()">
                         <input name="load_profile" type="file" class="file-input" id="file-input" style="display: none">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="results-button">
                    <div class="button-text">
                        Constraint Inputs
                    </div>
                    <i class="fa fa-long-arrow-right arrow-icon"></i>
                </button>
            </div>
        </form>
    </div>
    <script>
        function buttonClick() {
            const button = document.getElementById("file-input-button");
            const fileInput = document.getElementById("file-input");
            const fileInputWrapper = document.getElementById("file-input-wrapper");

            if (button.value === "Enable File Input") {
                button.value = "Disable File Input";
                fileInput.style = "display: block";
            }
            else {
                button.value = "Enable File Input";
                fileInput.style = "display: none";
            }
        }
    </script>
</body>
</html>
